/*报表查询*/

/*整体样式*/
#effectform #EffectForm {
  	position: absolute;
    padding: 0;
    left: 0;
    bottom: 0px;
    background-color: #fff;
    z-index: 310;
    height: 240px;
    width: 100%;
    /*overflow: auto;*/
    display: none;
    border-top: 1px solid #CCC;
    /*transition: bottom 0.5s;*/
}
#effectform #EffectForm .effectform-header{
  	position: relative;
  	width: 100%;
  	height: 30px;
    border-bottom: 1px solid #DDD;
}
#effectform #EffectForm .fm-btn{
    padding: 2px 8px;
    display: inline-block;
    background-color: #DDD;
    border: 1px solid #CCC;
    cursor: pointer;
    height: 30px;
    line-height: 24px;
    font-size: 16px;
}
#effectform #EffectForm .fm-btn:hover{
	background-color: #EEE;
}
#effectform #EffectForm .fm-btn.active{
	background-color: #EEE;
}
#_effectform_toggle{
    position: absolute;
    bottom: calc(100% + 1px);
    padding: 5px 10px;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-left: none;
    border-bottom: none;
    text-align: center;
    width: 20px;
    box-sizing: content-box;
    cursor: pointer;
    right: 0px;
}
#EffectForm #_effectform_toggle .glyphicon {
    transform: rotate(-90deg);
    font-size: 16px;
}
#EffectForm.active #_effectform_toggle .glyphicon {
    transform: rotate(90deg);
}
#_effectform_close{
	position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: bold;
}
/*
#_effectform_close{
	position: absolute;
    right: 0;
    top: 0;
    padding: 2px 8px;
    font-size: 16px;
    font-weight: bold;
    background-color: #DDD;
    border: 1px solid #CCC;
    cursor: pointer;
}
#_effectform_close:hover{
	background-color: #EEE;
}
*/
/*内容头部样式*/
#effectform #EffectForm #effectFormTable .table-header{
	padding: 5px 10px 0 10px;
	position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#effectform #EffectForm #effectFormTable .table-header thead{
	border-right: none;
	font-weight: bold;
}
#effectform #EffectForm #effectFormTable .table-header thead tr th{
	padding: 2px 10px;
	text-align: center;
	border: 1px solid #DDDDDD;
    box-sizing: border-box;
    word-break: break-all;
    white-space: normal;
}
/*
#effectform #EffectForm .table-header{
	width: 100%;
  	padding: 5px 10px 0 10px;
  	font-weight: bold;
    text-align: center;
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
}
#effectform #EffectForm .table-header th{
  	padding: 2px 10px;
  	text-align: center;
	border-right: 1px solid #DDDDDD;
	display: table-cell;
	border: 1px solid #DDDDDD;
	border-bottom: none;
    width: 80px;
}
#effectform #EffectForm .table-header .table-th:first-child{
	border-left: 1px solid #DDDDDD;
	width: 50px;
}
*/
#effectform #EffectForm #effectFormTable #example2 table tr td{
	border: 1px solid #DDDDDD;
    word-break: break-all;
    white-space: normal;
}

#effectform #EffectForm #effectFormTable{
  	font-size: 14px;
    /*overflow-y: auto;*/
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 210px;
    bottom: 0;
}
#effectform #EffectForm #effectFormTable .effectform-table-wrap{
  	padding: 0 10px;
	padding-right: 0px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 180px;
    overflow-y: auto;
}
#effectform #EffectForm #effectFormTable .effectform-table-wrap::-webkit-scrollbar{
  	width: 11px;
}

#effectform #EffectForm #effectFormTable #example2{
  	font-size: 12px;
  	border: none;
}

#effectform #EffectForm .table-header tr th:first-child,
#effectform #EffectForm #effectFormTable #example2 table tr td:first-child{
	width: 100px;
}
#effectform #EffectForm .table-header tr th:nth-child(2),
#effectform #EffectForm #effectFormTable #example2 table tr td:nth-child(2){
	width: 200px;
}
#effectform #EffectForm .table-header tr th:nth-child(3),
#effectform #EffectForm #effectFormTable #example2 table tr td:nth-child(3){
	width: 150px;
}
#effectform #EffectForm .table-header tr th:nth-child(4),
#effectform #EffectForm #effectFormTable #example2 table tr td:nth-child(4){
	width: 150px;
}
#effectform #EffectForm .table-header tr th:nth-child(6),
#effectform #EffectForm #effectFormTable #example2 table tr td:nth-child(6){
	width: 150px;
}
#effectform #EffectForm .table-header tr th:nth-child(7),
#effectform #EffectForm #effectFormTable #example2 table tr td:nth-child(7) {
    width: 300px;
}
#effectform #EffectForm #effectFormTable #example2 .td{
	/*white-space: nowrap;*/
	overflow: hidden;
	padding: 0 5px 0 5px;
	/*border: 1px solid #DDDDDD;*/
    box-sizing: border-box;
}
/*所有头部内容的样式*/
#effectform #EffectForm #effectFormTable #example2 tr th{
	padding: 5px;
}

/*第四列头部内容的样式*/
#effectform #EffectForm #effectFormTable #example2 tbody tr th:nth-of-type(5){
	min-width: 400px;
	overflow: hidden;
}

/*内容整体样式*/
#effectform #EffectForm #effectFormTable #example2 tbody{
	border-left: 1px solid #DDDDDD;
}
#effectform #EffectForm #effectFormTable #example2 tbody tr th{
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

/*内容鼠标滑上添加样式*/
#effectform #EffectForm #effectFormTable #example2 tbody tr:hover{
  	background: #f5f5f5;
  	cursor: pointer;
}

#example2 tbody tr.active{
	background:#CCCCCC
}
/*右上角浮动按钮*/
.effect-button{
    margin-bottom: 10px;
}
.effect-button #button2{
	display: none;
}
/*右上角浮动按钮*/
.effect-button #button3{
	display: none;
}
.effect-button > button{
	width: auto;
	height: 40px;
	font-size: 12px;
    border-radius: 4px;
	padding: 0px 10px;
}

#example2 button.active{
	color:#008000
}
#example2 button{
	background: none;
	height: 100%;
}
