#KDSEditor-sidebar {
  width: 100%;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.hide {
  display: none !important;
}
.dropdown-maker {
  background-color: #fafafa;
}
.dropdown-maker.close > .head {
  background-image: url(../dist/img/roadmap/element_right.png);
  background-position: 20px 8px;
}
.dropdown-maker.close > .body {
  display: none;
}
.dropdown-maker > .head {
  height: 30px;
  line-height: 30px;
  background-color: #ffffff;
  padding-left: 45px;
  background-image: url(../dist/img/roadmap/element_down.png);
  background-repeat: no-repeat;
  background-position: 20px 13px;
  cursor: pointer;
}
#leftbar {
  width: 249px;
  max-width: 249px;
  height: 100%;
  transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
  box-shadow: 0px 0px 2px rgba(8, 1, 3, 0.4);
  border-right: solid 1px #aaa;
  box-sizing: content-box;
}
#leftbar {
	position: fixed;
	top: 0;
	left: -250px;
	z-index: 600;
	height: 100%;
	background: #fff;
	z-index: 700;
}
#leftbar #leftbar-visible-control{
	position: absolute;
	left: auto;
	/*top: 40%;*/
  top: auto;
	bottom: 60px;
	right: -20px;
	width: 20px;
	height: 50px;
	line-height: 50px;
	border: 1px solid #666666;
	border-left: none;
	background-color: #f6f6f6;
	border-radius: 0px 5px 5px 0;
	cursor: pointer;
}
#leftbar.trans #user .header {
  display: none;
}
#leftbar.close {
  width: 55px;
}
#leftbar.close .toggle {
  left: 50px;
  background-image: url(../dist/img/roadmap/open.png);
}
#leftbar.close #user .header {
  padding: 0;
  margin-right: 5px;
}
#leftbar.close #user .header .logo {
  display: none;
}
#leftbar.close #user .header .info {
  width: 50px;
}
#leftbar.close #user .header .info .dropdown {
  padding: 0;
  line-height: 105px;
  background-position-x: 5px;
}
#leftbar.close #user .header .info .dropdown-menu {
  width: 100px;
}
#leftbar.close #user .header .info .caret {
  display: none !important;
}
#leftbar.close > .navtab .nav-content {
  width: 0;
}
#leftbar > .toggle {
  display: none;
  position: absolute;
  left: 346px;
  width: 24px;
  height: 100%;
  line-height: 70px;
  text-align: left;
  color: #a3a3a3;
  z-index: 998;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
  background-image: url(../dist/img/roadmap/close.png);
  background-repeat: no-repeat;
  background-position: center;
}
#leftbar > .toggle.trans {
  display: none !important;
}
#leftbar > .toggle div {
  width: 20px;
  height: 100px;
}
#leftbar.login > .toggle {
  display: -webkit-box;
  -webkit-box-align: center;
}
#leftbar #user {
  position: relative;
}
#leftbar #user .header {
  height: 88px;
  padding: 11px 13px;
  border-bottom: 2px solid #265c89;
}
#leftbar #user .header .logo {
  float: left;
  width: 86px;
  height: 58px;
  background: url(../dist/img/roadmap/logo.png) no-repeat;
  position: relative;
	z-index: 9;
}
#leftbar #user .header .info {
  position: relative;
  float: right;
  margin-top: 3px;
  width: 110px;
  font-size: 14px;
  text-align: center;
  z-index: 999;
}
#leftbar #user .header .info .dropdown {
  position: relative;
  height: 56px;
  line-height: 46px;
  color: #1499fd;
  cursor: pointer;
  background: url(../dist/img/roadmap/login.png) no-repeat;
  background-position: 0px 1px;
  padding-left: 25px;
}
#leftbar #user .header .info .dropdown .name {
  width: 50px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#leftbar #user .header .info .dropdown .caret {
  position: absolute;
  display: inline-block;
  top: 22px;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
#leftbar #user .header .info .dropdown-menu {
  display: none;
  position: absolute;
  width: 100%;
}
#leftbar #user .header .info .dropdown-menu li {
	padding: 5px;
  color: #ffffff;
  background-color: #1499fd;
  border-bottom: 1px solid #007fde;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
  word-break: break-all;
}
#leftbar #user .header .info .dropdown-menu li:last-child {
  border: 0;
}
#leftbar #user .header .info.open .dropdown-menu {
  display: block;
}
#leftbar #user .body {
  padding: 80px 25px 0;
}
#leftbar #user .body .login-logo {
  background-image: url(../dist/img/roadmap/login.png);
  width: 50px;
  height: 45px;
  margin: 0 auto;
}
#leftbar #user .body h3 {
  font-size: 14px;
  text-align: center;
  width: 100%;
  color: #1499fd;
  margin-top: 10px;
  margin-bottom: 18px;
}
#leftbar #user .body input {
  width: 100%;
  height: 50px;
  padding: 20px 10px;
  color: #999999;
  font-size: 14px;
  border: 1px solid #999999;
}
#leftbar #user .body input:focus {
  background-color: #ffffff;
  border-color: #1499fd;
}
#leftbar #user .body .username {
  border-bottom: 0;
}
#leftbar #user .body .username:focus + .dropdown + input {
  border-top: 1px solid #1499fd;
}
#leftbar #user .body .dropdown {
  display: none;
  position: absolute;
  left: 25px;
  right: 25px;
  background-color: #fff;
  z-index: 11;
}
#leftbar #user .body .dropdown.show {
  display: block;
}
#leftbar #user .body .dropdown .dropdown-item {
  border-left: 1px solid #1499fd;
  border-right: 1px solid #1499fd;
  border-bottom: 1px solid #999999;
  border-top: 0;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  font-size: 14px;
}
#leftbar #user .body .dropdown .dropdown-item:first-child {
  border-top: 1px solid #999999;
}
#leftbar #user .body .dropdown .dropdown-item.active {
  background-color: #F0F9FF;
}
#leftbar #user .body .dropdown .dropdown-item:last-child {
  border-bottom: 1px solid #1499fd;
}
#leftbar #user .body button {
  width: 100%;
  padding-left: 8px;
  background-color: #3887be;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 8px;
}
#leftbar #user .body .error-info {
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  margin-bottom: 2px;
  font-size: 12px;
  color: #ff797c;
  visibility: hidden;
}
#leftbar #user .body .error-info.show {
  visibility: visible;
}
#leftbar #user .body .error-info .error-logo {
  width: 14px;
  height: 14px;
  background-color: #ff797c;
  display: inline-block;
  border-radius: 7px;
  text-align: center;
  line-height: 14px;
  color: #ffffff;
  margin-right: 5px;
}
#leftbar > .navtab {
	/*
  position: absolute;
  top: 88px;
  bottom: 0;
  */
  width:inherit;
  z-index: 99;
  overflow: hidden;
  height: 100%;
}
#leftbar > .navtab .nav {
  /*float: left;*/
  /*width: 50px;*/
  /*height: 100%;*/
  /*padding-top: 30px;*/
  display: -webkit-inline-box;
  width:100%;
  background-color: #818486;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
#leftbar > .navtab .nav li {
  position: relative;
  height: 50px;
  width:50%;
  line-height: 50px;
  cursor: pointer;
}
#leftbar > .navtab .nav li.active,
#leftbar > .navtab .nav li:hover {
  background-color: #222f2e;
}
#leftbar > .navtab .nav li.active:after {
  /*content: " ";*/
  /*position: absolute;*/
  /*top: 22px;*/
  /*right: 0;*/
  /*border-top: 5px solid transparent;*/
  /*border-right: 5px solid #fff;*/
  /*border-bottom: 5px solid transparent;*/
  /*width: 0;*/
  /*height: 0;*/
}
#leftbar > .navtab .nav li.item-element {
  /*display: none;*/
}
#leftbar > .navtab .nav li.item-element.show {
  display: block;
}
#leftbar > .navtab .nav li.item-task.red {
  background-image: url(../dist/img/roadmap/error.png);
  background-repeat: no-repeat;
  background-position: 38px 15px;
}
#leftbar > .navtab .nav-content {
  position: relative;
  float: left;
  /*width: 300px;*/
  /*height: 100%;*/
 	height: calc(100% - 50px);
  width:100%;
  transition: all 0.5s cubic-bezier(0, 1, 0.5, 1);
}
#leftbar > .navtab .nav-content > .item {
  display: none;
}
#leftbar > .navtab .nav-content > .item.active {
  height: 100%;
  display: block;
}
#leftbar > .navtab .nav-content .item-task.status-detail .take {
  display: none;
}
#leftbar > .navtab .nav-content .item-task.status-detail .task-table {
  display: none;
}
#leftbar > .navtab .nav-content .item-task.status-detail .detail-warpper {
  display: block;
}
#leftbar > .navtab .nav-content .item-task .take {
  height: 30px;
  line-height: 30px;
  background-color: #F0F9FF;
  color: #1499fd;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
#leftbar > .navtab .nav-content .item-task .empty {
  overflow: hidden;
}
#leftbar > .navtab .nav-content .item-task .empty div:first-child {
  background-image: url(../dist/img/roadmap/empty.png);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 300px;
  height: 145px;
}
#leftbar > .navtab .nav-content .item-task .empty div:last-child {
  text-align: center;
  width: 185px;
  margin: 20px auto 0;
  font-size: 14px;
  color: #666;
}
#leftbar > .navtab .nav-content .item-task .task-table thead {
  font-size: 13px;
  color: #000000;
}
#leftbar > .navtab .nav-content .item-task .task-table thead tr {
  height: 30px;
  background-color: #fafafa;
}
#leftbar > .navtab .nav-content .item-task .task-table thead tr th {
  padding: 5px;
  border-bottom: 1px solid #ececec;
}
#leftbar > .navtab .nav-content .item-task .task-table thead tr th:first-child {
  width: 15px;
}
#leftbar > .navtab .nav-content .item-task .task-table thead tr th:nth-child(2) {
  width: 50px;
}
#leftbar > .navtab .nav-content .item-task .task-table thead tr th:last-child {
  width: 30px;
}
#leftbar > .navtab .nav-content .item-task .task-table tbody {
  /*position: absolute;*/
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  font-size: 12px;
  color: #000000;
}
#leftbar > .navtab .nav-content .item-task .task-table tbody tr {
  height: 30px;
  /*cursor: pointer;*/
}
#leftbar > .navtab .nav-content .item-task .task-table tbody tr.active {
  background-color: #a0a5a7 !important;
}
#leftbar > .navtab .nav-content .item-task .task-table tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
#leftbar > .navtab .nav-content .item-task .task-table tbody tr td {
  padding: 5px;
  vertical-align: middle;
  text-align: left;
}
#leftbar > .navtab .nav-content .item-task .task-table tbody tr td:nth-child(3) {
  width: 240px;
  white-space: pre-line;
  word-break: break-all;
}
#leftbar > .navtab .nav-content .item-task .task-table tbody tr td:last-child {
  text-decoration: underline;
  cursor: pointer;
}
#leftbar > .navtab .nav-content .item-task .task-table tbody tr .go-detail {
  background-image: url(../dist/img/roadmap/detail.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 15px;
  cursor: pointer;
}
#leftbar > .navtab .nav-content .item-task .task-table tbody tr .icon {
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
}
#leftbar > .navtab .nav-content .item-task .task-table tbody tr.warning .icon {
  background-image: url(../dist/img/roadmap/warning.png);
}
#leftbar > .navtab .nav-content .item-task .task-table tbody tr.editing .icon {
  background-image: url(../dist/img/roadmap/editing.png);
}
#leftbar > .navtab .nav-content .item-task .task-table tbody tr.working .icon {
  background-image: url(../dist/img/roadmap/working.png);
}
#leftbar > .navtab .nav-content .item-task .detail-warpper {
  display: none;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .header {
  height: 30px;
  background-color: #fafafa;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .header span {
  	display: inline-block;
    width: 33%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    background-position: 8px;
    background-repeat: no-repeat;
    padding-left: 14px;
    margin: 0;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .header span.back {
  background-image: url(../dist/img/roadmap/back.png);
  background-position: 8px 7px;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .header span.next {
  background-image: url(../dist/img/roadmap/right.png);
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .header span.pre {
  background-image: url(../dist/img/roadmap/left.png);
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .header span.disabled {
  cursor: not-allowed;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .scroller {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  background:#f6f6f6;
  overflow-y: auto;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .body .attr {
  width: 100%;
  padding: 5px 0;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .body .attr:nth-child(even) {
  background-color: #ffffff;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .body .attr:nth-child(odd) {
  background-color: #F6F6F6;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .body .attr div:first-child {
  float: left;
  width: 60px;
  text-align: left;
  margin-left: 45px;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .body .attr div:last-child {
  float: left;
  margin-left: 10px;
  /*width: 170px;*/
  word-break: break-word;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .button-group {
	display: none;
  margin: 0;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #ffffff;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .button-group button {
  margin: 0 5px;
  width: 125px;
  height: 34px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 25px 10px;
  background-size: 13px;
  padding-left: 10px;
  text-align: center;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .button-group button.disabled {
  cursor: not-allowed;
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .button-group .start {
  background-color: #68DB75;
  background-image: url(../dist/img/roadmap/startwork.png);
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .button-group .submit {
  background-color: #5EB5F7;
  background-image: url(../dist/img/roadmap/submittask.png);
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .button-group .check {
  background-color: #F49731;
  background-image: url(../dist/img/roadmap/autocheck.png);
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .button-group .pass {
  background-color: #0fc414;
  background-image: url(../dist/img/roadmap/checkpass.png);
}
#leftbar > .navtab .nav-content .item-task .detail-warpper .button-group .fail {
  background-color: #fe7e00;
  background-image: url(../dist/img/roadmap/checkfailed.png);
}
#leftbar > .navtab .nav-content .item-element .root {
  background-color: #fafafa;
}
.root.close .dropdown {
  background-image: url(../dist/img/roadmap/element_right.png);
  background-position: 20px 8px;
}
.root.close .dropdown-menu {
  display: none;
}
 .root > .dropdown {
  height: 30px;
  line-height: 30px;
  background-color: #ffffff;
  padding-left: 50px;
  background-image: url(../dist/img/roadmap/element_down.png);
  background-repeat: no-repeat;
  background-position: 20px 13px;
  cursor: pointer;
}
.root > .dropdown-menu li {
  position: relative;
  list-style: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 65px;
}
.root > .dropdown-menu li.subItem {
  
  height: auto;
  padding-left: 20px;
 
}
.root > .dropdown-menu li .display {
  display: inline-block;
  position: absolute;
  top: 9px;
  /*left: 235px;*/
  right: 5px;
  width: 17px;
  height: 17px;
  background-image: url(../dist/img/roadmap/eye.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
/*支持子菜单*/
.root > .dropdown-menu li.subItem .display {
  left:80%;
  }
.root > .dropdown-menu li .display + i.edit {
  /*display: none;*/
  display: block;
}
.root > .dropdown-menu li .default-color {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 60px;
}
.root > .dropdown-menu li .layer-title {
    display: inline-block;
    width: 135px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.root > .dropdown-menu li .display.active {
  background-image: url(../dist/img/roadmap/eye-active.png);
}
.root > .dropdown-menu li .display.active + i.edit {
  display: block;
}
.root > .dropdown-menu li .display.disabled {
  background-image: url(../dist/img/roadmap/eye-disabled.png) !important;
}
.root > .dropdown-menu li .edit {
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 30px;
  width: 14px;
  height: 14px;
  background-image: url(../dist/img/roadmap/edit.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.root > .dropdown-menu li .edit.active {
  background-image: url(../dist/img/roadmap/edit-active.png);
}
.root > .dropdown-menu li .lock {
  pointer-events: none;
  opacity: 0.5;
  cursor: no-drop;
}
.roadTag-wrapper.dropdown-maker .body .attr:nth-child(even) {
  background-color: #ffffff;
}
.roadTag-wrapper.dropdown-maker .body .attr:nth-child(odd) {
  background-color: #f0f9ff;
}
.roadTag-wrapper.dropdown-maker .body .attr .left {
  float: left;
  width: 100px;
  text-align: left;
  padding: 5px 0px;
  word-break: break-word;
}
.roadTag-wrapper.dropdown-maker .body .attr .right {
  float: left;
  margin-left: 10px;
  width: 120px;
  word-break: break-word;
  padding: 5px 0px;
}
