button.node-search-control span.icon {
    background-image: url(../dist/img/node-search.png);
    background-size: 100%;
}

.node-search-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #bbb;
    background: #ccc;
    background: linear-gradient(to bottom, #f6f6f6 0%, #fff 100%);
    z-index: 9999;
    font-size: 13px;
    -webkit-filter: blur(0);
    box-shadow: 2px 2px 10px 2px #ccc;
}

.node-search-panel .panel-title {
    line-height: 200%;
    padding: 0 10px;
    cursor: move;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 110%;
    font-weight: 700;
}

.node-search-panel .tl-close {
    font-size: 19px;
    line-height: 28px;
    cursor: pointer;
    padding: 0 7px;
    position: absolute;
    top: 0;
    right: 0;
    color: #ff6c6c;
}

.node-search-panel .tl-close:hover {
    color: #fff;
    background: #666;
}

.node-search-panel .panel-body {
    border-top: 1px solid #ccc;
    padding: 10px 15px 10px 15px;
    width: 590px;
}

.node-search-panel input.expression {
    width: 442px;
}
.node-search-panel .button {
    padding: 0 10px;
    font-size: 14px;
}
.node-search-panel .button + .node-search-panel .button {
    margin-left: 10px;
}

.node-search-panel .col_box h3 {
    font-size: 13px;
}

.node-search-panel .col_box {
    float: left;
    width: 160px;
    margin: 15px 0 0 0;
}

.node-search-panel .field_list_box {
    width: 170px;
}

.node-search-panel .operator_list_box {
    margin-left: 23px;
    width: 170px;
}

.node-search-panel .field_vals_box {
    width: 190px;
}

.node-search-panel .col_box:last-child {
    margin-right: 0;
    float: right;
}

.node-search-panel .col_body {
    border: 1px solid #ccc;
    height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
}

.node-search-panel .msg_box {
    line-height: 200%;
    height: 2em;
    background: #eee;
    margin: 10px 0 0 0;
    padding: 0 15px;
}

.node-search-panel .operator_list {
    border: none;
}

.node-search-panel .operator_list li {
    display: inline-block;
    width: 27px;
    height: 27px;
    line-height: 27px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0 15px 10px 0;
    cursor: pointer;
    background: #eee;
    font-family: serif;
    font-weight: 700;
}

.node-search-panel .operator_list li:nth-child(4n) {
    margin-right: 0;
}

.node-search-panel .field_list li.selected {
    background: #bbb;
}

.node-search-panel .field_list span.name,
.node-search-panel .field_vals_list span.value {
    color: #222;
}

.node-search-panel .field_list li,
.node-search-panel .field_vals_list li {
    padding: 1px 3px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999;
    cursor: pointer;
}

.node-search-panel .field_list li:hover,
.node-search-panel .field_vals_list li:hover {
    background: #ccc;
}

.node-search-panel .field_val_fname {
    float: right;
    width: 80px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

.node-search-panel .top-opts {
    float: right;
}

.node-search-panel .top-opts input[type="checkbox"] {
    margin-right: 0;
}

.node-search-panel .cnf-switch {
    margin-bottom: 10px
}

.node-search-panel .cnf-switch li {
    display: inline-block;
    padding-right: 15px;
}

.node-search-panel .cnf-switch li:last-child {
    padding-right: 0;
}

.node-search-panel .color-list .color-item{
	display: inline-block;
	margin-right: 15px;
	height: 20px;
}
.node-search-panel .color-list .color-item span{
	display: inline-block;
	vertical-align:middle;
	width: 40px;
	height: 100%;
}
.node-search-panel .color-list .color-item span:first-child{
	width: auto;
	margin-right: 5px;
}


/*
.btn-group{
    display:inline-block;
    position:relative;
    margin-bottom:-3px;
    padding-left:10px;
}
.btn-group .btn{
    
    float:left;
}
.btn{
    display:inline-block;
    background-color: #F7F7F7;
    padding:5px 10px;
    color: #0E0E0E;
    border-radius:5px;
    cursor:pointer;
    font-weight:400;
    line-height:1.5;
    text-align:center;
    vertical-align: middle;
    white-space:nowrap;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    margin-left:-1px;
}
.btn-group .btn:not(:first-child):not(:last-child){
    border-radius:0px;
}
.btn-group .btn:last-child{
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}
.btn-group .btn:first-child{
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

a.btn:active,.btn.active{
    background-color:#63b4fd;
    color:white;
}
*/

#node-search-result-div {
  position: absolute;
  right: 70px;
  top: 70px;
  background-color: #fff;
  border: 1px solid #666;
  font-size: 12px;
  max-height: 70%;
  overflow-y: auto;
}
#node-search-result-div .list-item {
  /*padding: 5px;*/
  border-bottom: 1px solid #666;
  position: relative;
  min-width: 210px;
  box-sizing: border-box;
  height: 48px;
}
#node-search-result-div .list-item > button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
}
#node-search-result-div .list-item > .item-left {
  margin-right: 10px;
  margin-left: 10px;
  word-break: break-all;
  float: left;
  padding-top: 5px;
}
#node-search-result-div .list-item > .item-prefix {
  	/*position: absolute;*/
    top: 0;
    left: 0;
    float: left;
    min-width: 30px;
    height: 100%;
    text-align: center;
    line-height: 48px;
    font-size: 24px;
    font-family: sans-serif;
}
