@font-face {
    font-family: 'iconfont';
    src: url('../dist/fonts/iconfont.woff') format('woff');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    color: #575D72;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-image:before { content: "\e60e"; }
.icon-edit:before { content: "\e61c"; }
.icon-jichangjiaotong:before { content: "\e611"; }
.icon-fangdajing:before { content: "\e600"; }
.icon-arrow-up:before { content: "\e601"; }
.icon-arrow-down:before { content: "\e602"; }
.icon-more:before { content: "\e62d"; }
.icon-trash-old:before { content: "\e619"; }
/*.icon-shanchu:before { content: "\e631"; }*/
.icon-shanchu:before { content: "\e619"; }
.icon-forbidcopy:before { content: "\e643"; }
.icon-refresh:before { content: "\e60c"; }
.icon-biaochi:before { content: "\e613"; }
.icon-close:before { content: "\e609"; }
.icon-fangxiang3:before { content: "\e633"; }
.icon-anti-check:before { content: "\e60d"; }
.icon-warn:before { content: "\e604"; }
.icon-autoModify:before {content: "\e648";}
.icon-cross:before {content: "\e647";}
/*.icon-tree:before {content: "\e624";}*/
.icon-tree:before { content: "\e655"; }
.icon-zsk:before { content: "\e630"; }
.icon-square:before { content: "\e603"; }
.icon-border:before { content: "\e61b"; }
.icon-bold:before { content: "\e618"; }
.icon-qi:before { content: "\e621"; }
.icon-zhong:before { content: "\e622"; }
.icon-weibiaoti101:before { content: "\e634"; }
.icon-lupai:before { content: "\e61a"; }
.icon-bgcolor:before { content: "\e606"; }
.icon-ar-right:before { content: "\e623"; }
.icon-sanjiaoxing:before { content: "\e635"; }
.icon-quxian01:before { content: "\e61f"; }
.icon-jia:before { content: "\e61e"; }
.icon-jian:before { content: "\e60a"; }
.icon-x:before { content: "\e62E"; }
.icon-send:before { content: "\e605"; }
.icon-font14:before { content: "\e62c"; }
.icon-tr-right:before { content: "\e624"; }
.icon-diqiu:before { content: "\e607"; }
.icon-text:before { content: "\e616"; }
.icon-modify:before { content: "\e62f"; }
.icon-ar-up:before { content: "\e625"; }
.icon-zuobiao:before { content: "\e608"; }
/*.icon-tr-top:before { content: "\e626"; }*/
.icon-tr-top:before { content: "\e625"; }
.icon-rect:before { content: "\e617"; }
.icon-tr-left:before { content: "\e627"; }
.icon-delete:before { content: "\e62e"; }
/*.icon-tr-bottom:before { content: "\e628"; }*/
.icon-tr-bottom:before { content: "\e629"; }
.icon-anti-warn:before { content: "\e60f"; }
.icon-jinzhi:before { content: "\e612"; }
.icon-jiaotongliang:before { content: "\e614"; }
.icon-shanchu:before { content: "\e619"; }
.icon-lubiao:before { content: "\e61d"; }
.icon-catalog:before { content: "\e610"; }
.icon-merge:before { content: "\e658"; }
.icon-textcolor:before { content: "\e615"; }
.icon-ar-down:before { content: "\e629"; }
.icon-jiebang:before { content: "\e620"; }
.icon-check:before { content: "\e60b"; }
.icon-xjiffangxiangjiantouzheng1:before { content: "\e636"; }
.icon-avatar:before { content: "\e62a"; }
.icon-ar-left:before { content: "\e62b"; }
.icon-lupai-copy:before { content: "\e632"; }
.icon-guanxiaobaotubiao41-copy:before { content: "\e637"; }
.icon-bang:before { content: "\e639"; }
.icon-fengexian0:before { content: "\e63a"; }
.icon-edit2:before { content: "\e656"; }
.icon-sanwei:before { content: "\e659"; }
.icon-icontuozhuaizuoyou:before { content: "\e65c"; }

.icon-divtype0:before { content: "\e644"; }
.icon-divtype1:before { content: "\e640"; }
.icon-divtype2:before { content: "\e63f"; }
.icon-divtype3:before { content: "\e63b"; }
.icon-divtype4:before { content: "\e63c"; }
.icon-divtype5:before { content: "\e63e"; }
.icon-divtype6:before { content: "\e63d"; }
.icon-divtype7:before { content: "\e641"; }
.icon-divtype8:before { content: "\e642"; }
.icon-divtype9:before { content: "\e646"; }
.icon-divtype10:before { content: "\e645";}
.icon-left:before { content: "\e649"; }
.icon-uturn-left:before { content: "\e64a"; }
.icon-right:before { content: "\e64b"; }
.icon-up:before { content: "\e64c"; }
.icon-uturn-right:before { content: "\e64d"; }
.icon-align-left:before { content: "\e64f"; }
.icon-align-hcenter:before { content: "\e650"; }
.icon-align-right:before { content: "\e651"; }
.icon-align-vcenter:before { content: "\e652"; }
.icon-align-bottom:before { content: "\e653"; }
.icon-align-top:before { content: "\e654"; }
.icon-shuxingsanjiao:before { content: "\e655"; }
.icon-edit2:before { content: "\e656"; }
.icon-trash:before { content: "\e657"; }
.icon-ronghebiao:before { content: "\e658"; }
.icon-right1:before { content: "\e65a"; }
.icon-error:before { content: "\e65b"; }
.icon-error2:before { content: "\e65d"; }